body {
    background-color: #f8f9fa;
}

.card-contrat {
    transition: transform 0.2s;
    border-left: 5px solid #0d6efd;
}

.card-contrat:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.badge-termine {
    background-color: #198754;
}

/* Vert */
.badge-encours {
    background-color: #ffc107;
    color: black;
}

/* Jaune */