server:
  port: 8090

spring:
  datasource:
    url: jdbc:mysql://mysql-projetpooloc.alwaysdata.net:3306/projetpooloc_1
    username: projetpooloc
    password: Groupe123_
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

  thymeleaf:
    check-template-location: false

springdoc:
  swagger-ui:
    path: /swagger
